  
{
    //"presets": ["es2015","es2017"],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react"
      ],
    "plugins": [
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }]
    ]
  }